
html{width:100%;overflow-x:hidden;} 
        * {
            margin: 0;
            padding: 0;
        }
        
        body{
            background-color: #f0f3ef;
         
       
        }
        body a:hover{
            color: red;
        }
  
        .adPic{
            background-color: #99ccff;
            min-width: 1190px;
            text-align: center;
        
        }
        nav {
            min-width: 1190px;
            height: 30px;
            background-color: #e3e4e5;
        }

        nav a {
            color: #999999;
            text-decoration: none;
            float: right;
            margin-right: 15px;
            line-height:30px;
            font-size: 13px;
        }
        nav a:last-child{
            float: left;
            margin-left: 220px;
        }
        nav span.nav_space{
            background-color: #999999;
            width: 2px;
            height: 15px;
            float:right;
            position: relative;
            top: 8px;
            left: -5px;  
        }

        .top_nav {
     
            width: 1190px;
            height: 30px;
          margin: 0 auto;
            z-index: 
            
        }
        .top_nav span{
            color: red;
        }
        .middle {
            
            width: 1190px;
            height: 500px;
            margin: 0px auto;

        
        }

        .left_aside {
            width: 190px;
            height: 670px;
            background-color: white;
            float: left;
            position: relative;
            top: -30px
        }
        .left_aside_hrspace{
            background-color: beige;
            height: 1px;
            width: 190px;
            
        }

        .spirte {
            width: 190px;
            height: 170px;
            background-image: url(../image/sprite.head.png);
        }
        .slide_nav ul,span{
            float: left;
            color: #999999;
        }
        .slide_nav ul:nth-of-type(1){
            margin-top: 7px;
        }
        .slide_nav ul:nth-of-type(2){
            clear: both;
        }
        .slide_nav li{
            list-style: none;
            float: left;
            margin: 4px 5px;
            font-size: 15px;
        }
        .slide_nav a{
            color: #999999;
            text-decoration: none;
        }

        main {
      
            width: 800px;
            height: 470px;
            float: left;
        }

        .lunbo {
            width: 590px;
            height: 470px;
            overflow: hidden;
            float: left;
            margin-left: 10px;
        }

        .lunbo_right {
            width: 190px;
            height: 150px;

            float: left;
            margin-left: 10px;
        }

        .lunbo_right img {
            width: 190px;
            height: 150px;
            margin-bottom: 6px;
        }

        .right_aside {
            width: 190px;
            height: 470px;
            background-color: white;
            float: left;
            margin-left: 10px;
            position: relative;
            top: 170px;
        }
        
        .head {
            background-color: white;
            width: 190px;
            height: 170px;
        }
        .headPic{
            background-image: url(../image/no_login.jpg);
            width: 60px;
            height: 60px;
            background-size: cover;
            border-radius: 50%;
            border: 5px solid #e3e1df;
            background-position: 5px;
            position: relative;
            left: 60px;
            top: -5px;
            -webkit-box-shadow: 3px 4px 20px #9999;
            box-shadow: 3px 4px 20px #9999;
        }
        .head input{
            float: left;
            border-radius: 25px;
            padding: 3px 7px;
            border: none;
            -webkit-box-shadow: 3px 8px 20px #e5e3e3;
            box-shadow: 3px 8px 20px #e5e3e3;
            position: relative;
            top: 10px;
            left: 10px;
            margin: 0 5px;
        }
        .head input:nth-of-type(1){
            background-color: white;
            color: red;
            
        }
        .head input:nth-of-type(2){
            background-color: black;
            color: #d0c385;
            
        }
        .head span{
            font-size:12px;
            -webkit-transform: translate(50%,50%);
            transform: translate(50%,50%);
            
        }
        .head a{
            font-size:13px;
            text-decoration: none;
            color: #999999;
            position: relative;
            left: 35%;
            top: 5px;
            
        }
        .board {
            width: 190px;
            height: 130px;
            overflow: hidden;
        }
        .board a{
            float: left;
            text-decoration: none;
            color: black;
            margin:0 10px;
          
        }
        .board a:hover{
            color: black;
        }
        .board a:last-of-type{
            float: right;
   
        }
        .board span.space{
            background-color: #999999;
            width: 1px;
            height: 17px;
            position: relative;
            top: 4px;
        }
        
        .board li {
            list-style: none;
        }
        .board ul{
            clear: both;
            position: relative;
            top:10px;
            left: 25px;
        }
        .board ul:first-of-type {
            display: none;
        }
        .right_aside span.space_hr{
            background-color: #ebeaea;
            width: 160px;
            height: 2px;
            margin-left: 15px;
        }
        .picNav {
            width: 190px;
            height: 170px;
            background-color: white;
        }

        .picNav li {
            list-style: none;
            float: left;
            margin: 15px 0;
            color: #9999;
            position: relative;
            left: 15px;
             }
        .picNav li:last-of-type{
            position: relative;
            left: 20px;
        }
        .picNav a {
            text-decoration: none;
            color: #9999;
            position: relative;
            left: -17px;
            top: 17px;
            font-size: 12px;
  
            
            
        }

        .top_search {
            width: 1000px;
            height: 170px;
           
            float: left;
            position: relative;
            top:30px;
            left: 120px;
        }

        .search {
            width: 600px;
            height: 70px;
        
            float: left;
        }

        .search input {
            width: 450px;
            height: 40px;
            border: none;
            float: left;
        }
        .search_icon {
            width: 40px;
            height: 40px;
            border: none;
            float: left;
            background-color: red;
            background-image: url(../image/search_icon.png);
            background-size: 80%;
            background-position: 5px 4px;
          position: relative;
            left: -40px; 
        }
        .camera_icon {
            width: 40px;
            height: 40px;
            border: none;
           
            float: left;
            background-image: url(../image/sprite-photo-search.png);
            background-size: 470%;
            background-position:4px 6px;
            position: relative;
            left: -45px;
            
        }

        .under_search_nav a{
            text-decoration: none;
            color: #9999;
            font-size: 13px;
            

        }

        .shop_cart {
            width: 240px;
            height: 40px;
            float: left;
            background-color: white;
            position: relative;
            left: -75px;
            text-align: center;
            vertical-align: middle;
            
        }
        .shop_cart_icon{
            background-image: url(../image/toolbars.png);
            width: 20px;
            height: 20px;
            position: relative;
            top: 10px;
            left: 60px;
            float: left;
            
        }
        .shop_cart span{
            color: red;
             position: relative;
            left: 60px;
            top: 10px;
            margin: 0 5px;
            font-size: 13px;
           
        }
        .shop_count{
            width: 13px;
            height: 13px;
            border-radius:40px;
            background-color: red;
            float: left;
            position: relative;
            top: 5px;
            left: 55px;
             font-size: 13px;
            text-align: center;
            vertical-align: middle;
            line-height: 14px;
            color: white;
        }

        .erwei {
            float:right;
            width: 67px;
            height: 67px;
            border: 1px solid #9999;
            position: relative;
            left: -120px;
            top: -30px;
        }

        .erweiPic {
            background-image: url(../image/mobile_qrcode.png);
            width: 65px;
            height: 65px;
            background-size: cover;
            position: relative;
            left: 1px;
            top: 1px;
        }

        .center_nav {
            width: 700px;
            height: 30px;
            
            float: left;
            position: relative;
            top:10px;
            left:-100px;
            
        }
        .center_nav a{
            text-decoration: none;
            color: black;
            font-size: 16px;
        }

        .right_aside{
            position: relative;
            top: 170px;
        }